ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.padding {
  padding: 7.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
.button {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-weight: normal;
  line-height: 1.7;
  font-size: 1.5rem;
}

.heading-title h2 {
  line-height: 1;
}

.heading-title > span {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 10px;
  display: block;
}

.heading .divider-left {
  margin: 10px 0 -2px;
}

.heading .divider-center {
  margin: 10px auto;
}

.heading .divider-left,
.heading .divider-center {
  height: 4px;
  width: 70px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5192e1),
    color-stop(51%, #23ced5),
    to(#5192e1)
  );
  display: block;
}

.font-light {
  font-weight: 300;
}

.font-light2 {
  font-weight: 200;
}

.bgdark {
  background: $bgdark-color;
}

.whitecolor {
  color: $whitecolor;
}

.darkcolor {
  color: #384141;
}

.top10 {
  margin-top: 1rem;
}

.bottom10 {
  margin-bottom: 1rem;
}

.bottom20 {
  margin-bottom: 2rem;
}

.bottom30 {
  margin-bottom: 3rem;
}

.bottom35 {
  margin-bottom: 4rem;
}

.padding {
  padding: 10rem 0;
}

.padding_top {
  padding-top: 7.5rem;
}

.padding_bottom_half {
  padding-bottom: 3.75rem;
}

.defaultcolor {
  color: $default-color;
}
.font-normal {
  font-weight: normal;
}
